<h1>Forgot Password</h1>
<h2><%= name %></h2>
<form action="/forgot-password" method="POST">

        <div>
                <lable for="email"> Email </label>
                <input type="text" id="email" name="email" required>
        </div>


<input type="hidden" name="_csrf" value="<%= csrfToken %>">

<button type="submit">Submit</button>
